body {
    background-color: #2f3840!important;
    color: #fff!important
}

.sidebar aside .ui.borderless.vertical.navigation.menu {
    background-color: #2f3840!important
}

.ui.header {
    color: #fff!important
}

.sidebar aside .ui.vertical.menu .item a,
.sidebar aside .ui.vertical.menu .item a:active,
.sidebar aside .ui.vertical.menu .item a:hover,
.sidebar aside .ui.vertical.menu .item a:visited {
    color: #fff!important
}

.sidebar aside {
    border-right: 1px solid #3d4751!important
}

.link,
.link a {
    color: #b72bf1!important
}

.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu .active.item:hover {
    border-color: #b72bf1!important
}

.ui.secondary.pointing.menu .active.item span,
.ui.secondary.pointing.menu .active.item:hover span {
    color: #b72bf1!important
}

i.grey.icon {
    color: #fff!important
}

.ui.secondary.pointing.menu .item span {
    color: #fff!important
}

.ui.segment,
.ui.segments .segment {
    background-color: #3d4751!important
}

.ui.raised.card,
.ui.raised.cards>.card {
    background-color: #3d4751!important
}

.ui.card .meta,
.ui.cards>.card .meta {
    color: #fff!important
}

.ui.card .meta *,
.ui.cards>.card .meta * {
    color: #fff!important
}

.heartwrapper .heartcount {
    color: #fff!important
}

.ui.comments .comment .metadata {
    color: #fff!important
}

.ui.comments .comment .text {
    color: #fff!important
}

.ui.card>.content>.header,
.ui.cards>.card>.content>.header {
    color: #fff!important
}

.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url],
.ui.formtextarea {
    background: #4a5560!important
}

.ui.header .sub.header {
    color: #fff!important
}

.ui.list .list>.item .header,
.ui.list>.item .header {
    color: #fff!important
}

.ui.list .list>.item .description,
.ui.list>.item .description {
    color: #fff!important
}

.profile .profile.info.rightpanel {
    background: #4a5560!important
}

.forum .list .header a {
    color: #fff!important
}

.forum .list .content .meta {
    color: #fff!important
}

.forum i.lightning.icon {
    color: #ff0!important
}

.ui.items>.item .meta>a:not(.ui) {
    color: #fff!important
}

.ui.raised.segment,
.ui.raised.segments {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .3)!important
}

.forum.post .heading .content .metadata {
    color: #fff!important
}

.forum .commentcount span {
    color: #fff!important
}

.forum .commentcount i.icon {
    color: #fff!important
}

.ui.secondary.pointing.menu .active.item {
    color: #b72bf1!important
}

.sidebar aside .iconnavi {
    color: #b72bf1!important
}

.item {
    color: #fff!important
}

.ui.vertical.segment.footer {
    background-color: rgba(0, 0, 0, 0)!important;
    color: #fff!important
}

.ui.form textarea {
    background-color: #4a5560!important;
    color: #fff!important
}

.stream .ui.card.story .content.text .storybuttons button {
    color: #b72bf1!important
}

.ui.horizontal.bulleted.list>.item:before,
ul.ui.horizontal.bulleted.list li:before {
    color: #fff!important
}

.profile .profile.info.leftpanel .profilicon {
    color: #b72bf1!important
}

.ui.selection.dropdown {
    background-color: #4a5560!important
}

.ui.form .field>label {
    color: #fff!important
}

.ui.dropdown .menu {
    background-color: #4a5560!important
}

.ui.menu .ui.dropdown .menu>.item>span {
    color: #fff!important
}

.ui.menu .ui.dropdown .menu>.item {
    color: #fff!important
}

.ui.menu .ui.dropdown .menu>.item>i {
    color: #fff!important
}

.ui.top.pointing.dropdown>.left.menu:after,
.ui.top.right.pointing.dropdown>.menu:after {
    background-color: #4a5560!important
}

.activitymodal>.header {
    background-color: #3d4751!important;
    color: #fff!important
}

.activitymodal>.content {
    background-color: #2f3840!important;
    color: #fff!important
}

.ui.feed>.event>.content .summary {
    color: #fff!important
}

.ui.feed>.event>.content .date {
    color: #fff!important
}

.ui.card>.extra,
.ui.cards>.card>.extra {
    color: #fff!important
}

.messenger .wrapper .left-wrapper {
    background-color: #2f3840!important
}

.messenger .wrapper .left-wrapper {
    background-color: #2f3840!important
}

.messenger .wrapper .right-wrapper .right-inner {
    background-color: #2f3840!important
}

.messenger .wrapper .messenger-header .username {
    color: #fff!important
}

.messenger .wrapper .right-wrapper .right-inner .content-wrapper .content-inner .scroll-visible>.messenger-scroll-inner {
    background-color: #2f3840!important
}

.messenger .wrapper .right-wrapper .right-inner .tools {
    background-color: #3d4751!important
}

.messenger .wrapper .right-wrapper .right-inner .content-wrapper .content-inner .messenger-scroll .messenger-scroll-inner .itemdivider .ui.divider {
    color: #fff!important
}

.ui.input>input {
    color: #fff!important;
    background-color: #3d4751!important
}

.ui.checkbox input.hidden+label {
    color: #fff!important
}

.activitymodal .ui.feed.activity>.event.new {
    background-color: rgba(130, 130, 140, .2)!important
}

.ui.bottombar.menu .item {
    background-color: #3d4751!important
}

.messenger-mobile.fullheight {
    background-color: #2f3840!important
}

.messenger-scroll-inner {
    background-color: #2f3840!important
}

.messenger-mobile .wrapper .messenger-header {
    background-color: #3d4751!important
}

.username {
    color: #fff!important
}

.home .stream .content.text .truncate .layer {
    background-image: linear-gradient(#00000000, #3d4751)!important
}

.ui.menu .ui.dropdown .menu>.item {
    color: rgba(255, 255, 255, .87)!important
}

.ui.raised.card,
.ui.raised.cards>.card {
    box-shadow: 0 6px 10px 0 #2f3840, 0 0 0 0 #2f3840!important
}

.ui.placeholder {
    background-color: #3d4751!important
}

.description,
.extra,
.pointer {
    color: #fff!important
}

.extra .description {
    background-color: #3d4751!important
}

.ui.icon.message {
    background-color: #3d4751!important
}

.ui.icon.message>.content {
    color: #fff!important
}

.threadtitle {
    color: white !important;
}